/*	1. Layout
/* -------------------------------------------------------------------------- */


/*		a. Grid
/* -------------------------------------------------------------------------- */


.section {
    padding: 8rem 0;
    @include viewport--3 {
        padding: 5rem 0;
    }  
}

.container {
	width: 100%;	
    max-width: 108rem;
    margin: 0 auto;
    @include viewport--6 {
        //padding: 5.6rem 0;
    }  
    &--small {
	    max-width: 64rem;
	}
	&--full {
	    max-width: 100%;
	}
}


.grid {
    &--col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        @include viewport--3 {
            grid-template-columns: 1fr;
        }
    }
}

.alignwide {
    max-width: 1080px;
    margin: auto;
}

.wp-block-group.alignwide > .wp-block-group__inner-container > * {
  max-width: 1080px;
}

.wp-block-group.alignwide > .wp-block-group__inner-container > .alignleft, 
.wp-block-group.alignwide > .wp-block-group__inner-container > .alignright {
    max-width: 1080px !important; 
}

.no-margin {
    margin: 0 auto;
}

.no-margin--left {
    margin-left: 0;
}

.padding--left-40 {
    padding-left: 4rem;
} 


/*		b. Header
/* -------------------------------------------------------------------------- */

.admin-bar .header {
    /*margin-top: 32px;*/
}


.header {
    background: $color--text;
    position: relative;
    z-index: 2;
}

ul.sub-menu {
    @include viewport--3 {
        border-top: 4px solid #184a78;
    }
    background: #fff;
    li {
        a {
            padding: 1rem 2rem;
            color: $color--text;
            @include viewport--3 {
                text-align: center;
                margin: auto;
            }
        }
    }
}

.header--horizontal {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include viewport--3 {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .site-branding {
        text-align: center;
        margin: 0 0;
        .custom-logo-link {
            max-width: 200px;
      }

    }

    .site-title, .site-description {
        display: none;
        margin: 0;
    }

    .main-navigation {
        clear: both;
        display: block;
        margin: 0;
        max-width: 580px;
        text-align: center; 
        @include viewport--3 {
            width: 100%;
        }   
        .menu-toggle {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1.6rem 3rem;
        }
        .menu-primary-menu-container {
            @include viewport--3 {
                position: absolute;
                width: 100%;
                background: #fff;
                padding-bottom: 2rem;
            }
        }
        ul li:hover > ul, ul li.focus > ul {
            @include viewport--3 {
                left: 0;
                right: 0; 
            }
        }
    }

    a {
        padding: 1rem;
        color: #fff;
        font-weight: 700;
    }

}


/*		c. Footer
/* -------------------------------------------------------------------------- */

.footer {
    background: $color--black;
    color: #fff;
    margin: 0;
    .widget {
        &_media_image {
            max-width: 20rem;
        }
        &__title {
            font-size: 1.6rem;
            color: #fff;
            line-height: 1;
            margin-top: 0;
        }
        ul {
            list-style-type: none;
            margin: 0 0 2rem 0;
            padding: 0;
        }
    }
    .site-info {
        text-align: center;
        margin: 0 auto;
    }

}


/*      d. Events
/* -------------------------------------------------------------------------- */

.tribe-events .tribe-events-header {
    display: none;
}

.tribe-events .tribe-events-calendar-list__month-separator {
    display: none;
}