/*	1. Layout
/* -------------------------------------------------------------------------- */


/*		a. Grid
/* -------------------------------------------------------------------------- */


.section {
    padding: 8rem 0;
    @include viewport--3 {
        padding: 5rem 0;
    }  
}

.container {
	width: 100%;	
    max-width: 108rem;
    margin: 0 auto;
    @include viewport--6 {
        padding: 5.6rem 0;
    }  
    &--small {
	    max-width: 64rem;
	}
	&--full {
	    max-width: 100%;
	}
}

@media (min-width: 1280px) {
    .entry-content > .alignwide {
        max-width: 108rem;
        width: 108rem;
    }
}

@media (min-width: 1080px) {
    .entry-content > .alignwide {
        max-width: 108rem;
        width: 108rem;
    }
}

.no-margin {
    margin: 0 auto;
}

.no-margin--left {
    margin-left: 0;
}

.padding--left-40 {
    padding-left: 4rem;
} 


/*		b. Header
/* -------------------------------------------------------------------------- */

.admin-bar .header {
    margin-top: 32px;
}

ul.sub-menu {
    li {
        a {
            padding: 2rem;
        }
    }
}

.header--horizontal {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-branding {
      text-align: center;
      margin: 0 0;
    }

    .site-title {
        margin: 0;
    }

    .main-navigation {
      clear: both;
      display: block;
      margin: 0;
      max-width: 580px;
      text-align: center;
    }

}

/*		c. Footer
/* -------------------------------------------------------------------------- */



/*      d. Events
/* -------------------------------------------------------------------------- */

.tribe-events .tribe-events-header {
    display: none;
}

.tribe-events .tribe-events-calendar-list__month-separator {
    display: none;
}